* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./layered-waves-haikei.svg);
  background-size: cover;
  color: #34495e;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  padding-top: 3rem;
}

h1 {
  font-size: 4rem;
  font-family: "Titan One", sans-serif;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  border: none;
  background: #f4f7f7;
}

form input {
  border-radius: 8px;
  padding-left: 0.7rem;
  font-size: 1.5rem;
  width: 27%;
  height: 3.5rem;
  color: #34495e;
  font-family: "Open Sans", sans-serif;
  padding-right: 3.5rem;
}

form button {
  color: #34495e;
  background: #f4f7f7;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0 8px 8px 0;
  margin-left: -2.9rem;
  font-size: 2.2rem;
  padding: 0.5rem;
}

form button:hover {
  background: #34495ebe;
  color: #f4f7f7;
}

form input:focus {
  outline: #34495e9f solid 3px;
}

input::placeholder {
  opacity: 50%;
  font-size: 1rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.button__completed--modifier {
  text-decoration: line-through;
  opacity: 40%;
}

.button__delete--animation {
  transform: translateY(8rem) rotate(20deg);
  opacity: 0;
}

.todo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem;
  background: #f0f5f5a8;
  border-radius: 8px;
  color: #34495e;
  transition: all 0.4s ease;
}

.todo__list {
  list-style: none;
  min-width: 37%;
}

.todo__list--js {
  padding: 1.5rem 3rem;
  border-radius: 10px;
  background: rgba(170, 207, 208, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 114, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.div__element {
  flex: 1;
  padding-left: 1rem;
  padding-right: 1rem;
}

.element__button--completed,
.element__button--delete {
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.element__button--completed {
  background-color: #5da0a2;
  color: #fff;
}

.element__button--delete {
  border-radius: 0 8px 8px 0;
  background-color: #34495ee5;
  color: #fff;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fa-filter {
  font-size: 1.2rem;
}

.hide {
  display: none;
}

.select__container {
  display: flex;
  grid-gap: 0.7rem;
  align-items: center;
  padding-bottom: 0.7rem;
  margin-left: 1rem;
}

.select__filter {
  display: none;
}

.select__filter--display {
  display: block;
  font-size: 0.8rem;
  color: #34495ee5;
}
